.container{
    background-color: aquamarine;
    height: auto;
    padding: 10px;
    width: 50%;
}
.element{
    width: 200px;
    height: 100px;
}

.color-el1{
    background-color: blanchedalmond;
    margin: auto;
}
.color-el2{
    background-color:blueviolet;
    margin: auto;
}

.color-el3{
    background-color: blue;
    margin: auto;
}